<div class="pager flex-row">
  <div class="page-nav flex-row">
      <button class="btn page-nav-button"><i class="fa fa-caret-left"></i>Prev</button>
      <div class="page-nav-select">
        <ng-select [searchable]="false"
                   class="custom" ></ng-select>
      </div>
      <button class="btn page-nav-button next">Next<i class="fa fa-caret-right"></i></button>
  </div>
  <div class="flex-row page-size">
      <label>Size:</label>
      <div>
        <ng-select [searchable]="false"
                   class="custom" ></ng-select>
      </div>
  </div>
</div>
