.filter-panel{
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.refresh{
    width: 100px;
}

.filter-panel > div{
    padding: 10px;
}

label{
    margin: 10px 0 0 10px;
}

.filter-panel .filter-row > *{
    margin-left: 10px;
}

.filter-panel .filter-row > *:nth-child(1){
    margin-left: 0;
}