.filter-panel{
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-between;
}

button.refresh{
    width: 100px;
}

.filter-panel > div{
    padding: 10px;
}

label{
    margin: 10px 0 0 10px;
}

.filter-panel .filter-row > *{
    margin-left: 10px;
}

.filter-panel .filter-row > *:nth-child(1){
    margin-left: 0;
}

:host ::ng-deep .ng-select .ng-select-container{
    min-height: auto;
}

.ng-select{
    margin-top: 10px;
    padding-bottom: 0;
}

:host ::ng-deep .ng-select .ng-dropdown-panel{
    top:100%;
}

:host ::ng-deep .ng-has-value{
    margin-top: -22px;
}