<div class="filter-panel bordered-panel flex-row">
  <div class="flex-row filter-row flexible">
    <app-search [(ngModel)]="filter.Name"
                (ngModelChange)="onFilterChange()"
                [placeholder]="labels.Placeholders.Search"
                [className]="'flexible'" ></app-search>
    <label>Added:</label>
    <div>
      <app-datepicker [(ngModel)]="filter.AddedFrom" (ngModelChange)="onFilterChange()" [placeholder]="labels.Placeholders.DateFrom"></app-datepicker>
    </div>
    <div>
      <app-datepicker [(ngModel)]="filter.AddedTo" (ngModelChange)="onFilterChange()" [placeholder]="labels.Placeholders.DateTo"></app-datepicker>
    </div>
    <label>Priority:</label>
    <app-number-range [numberArray]="priorityArray" [(ngModel)]="filter.Priority" (ngModelChange)="onFilterChange()"></app-number-range>
  </div>
  <div >
    <button class="btn refresh" (click)="onClearButtonClick()"><i class="fa fa-refresh" [ngClass]="{'fa-spin': isRefreshing}"></i>Clear</button>
  </div>
</div>