<div class="flex-column flexible">
  <h2>Add task</h2>
  <hr/>
  <form (ngSubmit)="onSubmit()" [class.validated]="formIsValidated" class="flex-column flexible" [formGroup]="form">
    <label>Name:</label>
    <div class="form-row">
      <input type="text" formControlName="name" minlength="8" maxlength="100">
      <div class="validation-error" *ngIf="name.invalid && formIsValidated">
        <div *ngIf="name.errors.required">
          {{Messages.NameRequired}}
        </div>
        <div *ngIf="name.errors.minlength">
          {{Messages.NameMinLength}}
        </div>
      </div>
    </div>
    <label>Priority:</label>
    <div class="form-row">
      <ng-select class="custom" [items]="priorityArray" [searchable]="false" formControlName="priority"></ng-select>
    </div>
    <label>Time to complete:</label>
    <div class="flex-row">
      <timepicker formControlName="timeToComplete" class="flex-row"></timepicker>
      <div>
        <div class="validation-error" *ngIf="timeToComplete.invalid && formIsValidated">{{Messages.TimeToCompleteRequired}}</div>       
      </div>
    </div>
    <label>Description:</label>
    <div class="flexible flex-column textarea-container">
      <textarea class="flexible" type="text" name="description" formControlName="description" maxlength="1000"></textarea>
    </div>
    <div>
      <button type="submit" class="btn-right btn-submit" [disabled]="formIsLoading"> <i class="fa fa-refresh fa-spin" *ngIf="formIsLoading"></i>Add task</button>
    </div>
  </form>
</div>