<div>
  <ng-select [ngModel]="innerValue ? innerValue.From : undefined"
             (ngModelChange)="onFromModelChange($event)" 
             (change)="onValueChange()"
             [items]="fromArray"
             [searchable]="false"
             class="custom" ></ng-select>
</div>
<div>
  <ng-select [ngModel]="innerValue ? innerValue.To : undefined"
             (ngModelChange)="onToModelChange($event)" 
             (change)="onValueChange()"
             [items]="toArray"
             [searchable]="false"
             class="custom" ></ng-select>
</div>