<div *ngIf="filteringIsEnabled" class="flex-column">
    <app-tasks-grid-filter (filterChange)="onFilterChange()" [isRefreshing]="isGridRefreshing" [(filter)]="filter"></app-tasks-grid-filter>
</div>
<div class="flex-column flexible scrollable">
    <div>
        <app-table [elements]="rows" (rowSelected)="onRowSelected($event)">
            <ng-template #headerTemplate>
                <app-table-header [headers]="headers" [(ngModel)]="filter.SortingInfo" (ngModelChange)="onRefresh()"></app-table-header>
            </ng-template>
            <ng-template #rowTemplate let-element>
                <td>{{ element.Model.Name }}</td>
                <td class="priority-column">{{ element.Model.Priority}}</td>
                <td class="added-column">{{element.Model.Added | date: 'medium'}}</td>
                <td class="time-to-complete-column">
                    <app-timer [completionDate]="element.Model.TimeToComplete" expiredPlaceholder="Time Expired!"></app-timer>
                </td>
                <td class="action-column">
                    <button class="btn" *ngIf="element.Model.Status === taskStatus.Active" (click)="onCompleteButtonClick(element.Model)"><i
                            class="fa fa-refresh fa-spin" *ngIf="element.SystemInfo.IsLoading"></i>Complete</button>
                    <button class="btn" *ngIf="element.Model.Status === taskStatus.Completed" (click)="onRemoveButtonClick(element.Model)"><i
                            class="fa fa-refresh fa-spin" *ngIf="element.SystemInfo.IsLoading"></i>Remove</button>
                </td>
            </ng-template>
        </app-table>
    </div>
</div>
<div class="bordered-panel pager-container">
    <app-pager [(ngModel)]="filter.PagingInfo" (ngModelChange)="onRefresh()" [pagesCount]="pagesCount"></app-pager>
</div>