<app-modal-window *ngIf="isModalWindowVisible" [headerText]="'Edit Permissions'" (cancelClick)="onCancelClick()" (okClick)="onOkClick()">
  <div class="project-permission-grid flex-row flexible">
      <div class="projects-grid scrollable">
          <table>
              <thead>
                <tr>
                  <th>Project</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let project of projectsArray; let i = index" (click)="onProjectSelect(project)" [ngClass]="{'selected': selected.Id === project.Id}"> 
                      <td>{{project.Name}}</td>
                  </tr>
              </tbody>
            </table>
      </div>
      <div class="permissions-grid"></div>
  </div>
</app-modal-window>
