:host{
    display:contents;
}

.projects-grid {
    width:300px;
}

:host ::ng-deep .modal-content{
    width: 800px;
    height: 500px;
    margin: 200px auto;
}

.project-permission-grid {
    overflow: hidden;
    padding: 10px 0;
}

.permissions-grid{
    padding: 10px;
    margin-left: 10px;
}

.permission-row{
    justify-content: space-between;
    padding: 5px;
}