table td .btn{
    display: block;
    margin: auto;
    width: 120px;
}

table tr td, table tr th{
    padding-left: 24px;
}

:host ::ng-deep .time-to-complete-column{
    width:140px;
}

:host ::ng-deep .added-column{
    width:180px;
}

table tr th.added-column{
    text-align: center;
    padding-left: 0px;
}

:host ::ng-deep .priority-column{
    width:80px;
}

table tr td.priority-column{
    text-align: center;
    padding-left: 0px;
}

:host ::ng-deep .action-column{
    text-align: center;
    width: 100px;
}

:host ::ng-deep .action-column .btn{
    display: inline-flex;
}

app-task-details{
    padding-top:5px;
}

app-tasks-grid-filter{
    padding-bottom: 5px;
}


.pager-container{
    margin-top: 5px
}

app-table-header{
    display: contents;
}

.empty-line{
    height: 5px;
    background-color: white;
    z-index: 1000;
}
