<div class="flex-column flexible">
  <h2>Tasks</h2>
  <hr/>
  <div class="flex-column">
    <app-tasks-grid-filter (refreshButtonClick)="onRefreshButtonClick($event)" [isRefreshing]="isGridRefreshing" ></app-tasks-grid-filter>
  </div>
  <div class="flex-column flexible scrollable" >
      <div >
          <app-table [elements]="tasks" (rowSelected) = "onRowSelected($event)">
              <ng-template #headerTemplate>
                <th> Name </th>
                <th class="priority-column"> Priority </th>
                <th class="added-column"> Added </th>
                <th class="time-to-complete-column"> Time to complete </th>
                <th class="action-column"> Action </th>
              </ng-template>
              <ng-template #rowTemplate let-element>
                  <td>{{ element.Name }}</td>
                  <td class="priority-column">{{ element.Priority}}</td>
                  <td class="added-column">{{element.Added | date: 'medium'}}</td>
                  <td class="time-to-complete-column"><app-timer [completionDate] = "element.TimeToComplete" expiredPlaceholder="Time Expired!"></app-timer></td>
                  <td class="action-column">
                      <button class="btn" *ngIf="element.Status === taskStatus.Active" (click)="onCompleteButtonClick(element)"><i class="fa fa-refresh fa-spin" *ngIf="element.IsLoading"></i>Complete</button>
                    <button class="btn" *ngIf="element.Status === taskStatus.Completed" (click)="onRemoveButtonClick(element)"><i class="fa fa-refresh fa-spin" *ngIf="element.IsLoading"></i>Remove</button>
                  </td>
              </ng-template>
            </app-table>
      </div>
  </div>

  <div class="flex-column">
      <app-task-details [task] = "selectedTask" class="flex-column"></app-task-details>
  </div>
</div>