<div class="flex-column flexible">
  <div class="flex-row page-header">
      <h2>Add feature</h2>
      <div class="nav-buttons">
          <a routerLink="/features" class="btn">
              <i class="fa fa-arrow-left"></i>
              Back to Features
          </a>
      </div>
  </div>
  <hr />
  <form (ngSubmit)="onSubmit()" [class.validated]="formIsValidated" class="flex-column flexible" [formGroup]="form">
      <label>{{labels.Name}}:</label>
      <div class="form-row">
          <input type="text" formControlName="name" maxlength="100">
          <div class="validation-error" *ngIf="name.invalid && formIsValidated">
              <div *ngIf="name.errors.required">
                  {{messages.Common.Validation.Required('Feature name')}}
              </div>
          </div>
      </div>
      <label>{{labels.SelectProject}}:</label>
      <div class="form-row">
        <ng-select class="custom project-select" [items]="projectsArray" [searchable]="false" bindLabel="Name" bindValue="Id" formControlName="projectId"></ng-select>
        <div class="validation-error project-validation-message" *ngIf="projectId.invalid && formIsValidated">
          <div *ngIf="projectId.errors.required">
              {{messages.Features.Validation.ProjectIsRequired }}
          </div>
      </div>
      </div>
      <label>{{labels.Description}}:</label>
      <div class="flexible flex-column textarea-container">
        <textarea class="flexible" type="text" name="description" formControlName="description" maxlength="1000"></textarea>
      </div>
      <div>
          <button type="submit" class="btn btn-right btn-submit" [disabled]="formIsLoading"> <i
                  class="fa fa-refresh fa-spin" *ngIf="formIsLoading"></i>Add feature</button>
      </div>
  </form>
</div>