<div class="flexible container column">
    <h2>Add task</h2>
    <hr/>
    <form name="taskForm" novalidate ng-submit="onSubmitButtonClick()" class="flexible container column">
        <p class="container column">
            <label>Name</label>
            <input type="text" name="name" ng-model="taskInfo.name" required />
        </p>
        <p>
            <label>Priority</label>
            <input type="number" min="1" name="priority" ng-model="taskInfo.priority" required />
        </p>
        <p>
            <label>Time to complete:</label>
        </p>
        <p>
            <label>Weeks</label>
            <input type="number" min="0" name="priority" ng-model="taskInfo.weeks" required />
            <label>Days</label>
            <input type="number" min="0" max="6" name="priority" ng-model="taskInfo.days" required />
            <label>Hours</label>
            <input type="number" min="1" max="23" name="priority" ng-model="taskInfo.hours" required />
        </p>
        <p class="flexible container column">
            <label>Description</label>
            <textarea class="flexible" type="text" name="description" ng-model="taskInfo.description" required></textarea>
        </p>
        <p>
            <input type="submit" value="Add task" class="btn-right btn-submit" ng-disabled="taskForm.$invalid">
        </p>
    </form>
</div>