<div class="flexible container column">
    <h2>Tasks</h2>
    <hr/>
    <div class="flexible container scrollable" on-element-scroll on-scroll-to-bottom="onScrollToBottom()">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Priority</th>
                <th>Added</th>
                <th>Time to complete</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in tasks| limitTo:barLimit" ng-click="onRowClick(task.Id)" ng-class="{selected: task.Id === selectedTaskId}">
                    <td>{{task.Name}}</td>
                    <td>{{task.Priority}}</td>
                    <td>{{task.TimeToComplete | date : "medium"}}</td>
                    <td>{{task.TimeToComplete | date : "medium"}}</td>
                    <td><button>Complete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div>
            <h3>{{selectedTask.Name}}</h3>
            <h3>{{selectedTask.Description}}</h3>
            <h3>{{selectedTask.Status}}</h3>
            <h3>{{selectedTask.Priority}}</h3>
            <h3>{{selectedTask.TimeToComplete | date : "medium"}}</h3>
        </div>
    </div>
</div>