<div>
  <label>{{labels.Weeks}} </label>
  <ng-select [ngModel]="innerValue.weeks"
             (ngModelChange)="innerValue.weeks = $event" 
             (change)="onValueChange()"
             [items]="weeksArray"
             [searchable]="false"
             [disabled] = "isDisabled"
             class="custom"></ng-select>
</div>
<div>
  <label>{{labels.Days}}</label>
  <ng-select [ngModel]="innerValue.days"
             (ngModelChange)="innerValue.days = $event"
             (change)="onValueChange()" 
             class="custom"
             [items]="daysArray"
             [disabled] = "isDisabled"
             [searchable]="false"></ng-select>
</div>
<div>
  <label>{{labels.Hours}}</label>
  <ng-select [ngModel]="innerValue.hours"
             (ngModelChange)="innerValue.hours = $event"
             (change)="onValueChange()"
             class="custom"
             [items]="hoursArray"
             [disabled] = "isDisabled"
             [searchable]="false"></ng-select>
</div>