form textarea {
    resize: none;
    padding-top: 5px;
}

form input, form textarea{
    color: #757575;
    height: 30px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

form label {
    color: #757575;
    padding-bottom: 20px;
}
.form-row{
    height: 60px;
}

form.validated .ng-invalid:not(form):not(timepicker)  {
    border: 1px solid #ff5656f0; /* red */
}

form.validated timepicker.ng-invalid .ng-arrow{
    color:#ff5656f0;
}

form.validated timepicker.ng-invalid .ng-select-container:after{
    border-color:#ff5656f0;
}