html, body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

hr {
    border: 0;
    border-top: 2px solid #e7e7e7;
    margin-left: 0;
    margin-right: 0;
}

.page-header {
    justify-content: space-between;
    padding-right: 10px;
}

.page-header .nav-buttons {
    padding-top: 5px;
}

h2 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

label{
    color: #757575;
}


input, textarea{
    color: #757575;
    height: 30px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.bordered-panel{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

