table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
table tr:nth-child(even){background-color: #f2f2f2;}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr{
    color: #555353;           
    font-size: 14px;
}

table tr:hover {
    background-color: #ddd;
}

table tr.selected {
    background-color: #8cd98c;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

table th.sortable:hover {
    background-color: #3e8e41;
}

table th.sortable {
    cursor: pointer;
}