table tr td, table tr th{
    padding-left: 24px;
}

app-users-grid-filter{
    padding-bottom: 5px;
}

.pager-container{
    margin-top: 5px
}

app-table-header{
    display: contents;
}

:host ::ng-deep table td, table th {
    padding: 15.5px;
}
