<div class="flex-column flexible">
  <div class="flex-row page-header">
      <h2>Features</h2>
      <div class="nav-buttons">
          <a routerLink="/features/add" class="btn">Add Feature</a>
      </div>
  </div>
  <hr />
  <div class="flex-column">
      <app-features-grid-filter (filterChange)="onFilterChange()" [isRefreshing]="isGridRefreshing" [(filter)]="filter"></app-features-grid-filter>
  </div>
  <div class="flex-column flexible scrollable">
      <div>
          <app-table [elements]="rows" (rowSelected)="onRowSelected($event)">
              <ng-template #headerTemplate>
                  <app-table-header [headers]="headers" (ngModelChange)="onRefresh()"></app-table-header>
              </ng-template>
              <ng-template #rowTemplate let-element>
                  <td class="name-column">{{ element.Model.Name }}</td>
              </ng-template>
          </app-table>
      </div>
  </div>
  <div class="bordered-panel pager-container">
      <app-pager [(ngModel)]="filter.PagingInfo" (ngModelChange)="onRefresh()" [pagesCount]="pagesCount"></app-pager>
  </div>
</div>