<div class="modal">
    <div class="modal-content flex-column">
      <div class="flex-row modal-header">
        <h2>{{headerText}}</h2>
        <span class="close" (click)="cancelButtonClick()" [class.disabled]="cancelButtonDisabled">&times;</span>
      </div>
      <ng-content></ng-content>
      <div>
        <button class="btn btn-right btn-cancel" [disabled]="cancelButtonDisabled" (click)="cancelButtonClick()">{{cancelButtonText}}</button>
        <button class="btn btn-right btn-ok" [disabled]="okButtonDisabled" (click)="okButtonClick()"><i class="fa fa-refresh fa-spin" *ngIf="isLoading"></i>{{okButtonText}}</button>
      </div>
    </div>
</div>