<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BuildScript" value="..\TaskManager.Deployment\build.ps1"/>
    <add key="SiteName" value="taskmanager"/>
    <add key="SiteFolder" value="..\TaskManager.Client\dist\task-manager-client"/>
    <add key="AppPoolName" value="TaskManager"/>
    <add key="ChildSiteName" value="api"/>
    <add key="ChildSiteFolder" value="..\TaskManager.WebApi"/>
    <add key="ChildAppPoolName" value="TaskManagerApi"/>
    <add key="RemoveFromBranchName" value="refs/heads/"/>
    <add key="AppPoolDotNetVersion" value="v4.0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
